@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #FEFAE0;
    margin: auto;
    place-items: center;
    display: grid;
    height: 100vh;
    font-family: 'Josefin Sans';
}